@import "../../assets/scss/conf.scss";

.navbar-links {
  display: flex;
  flex-direction: row;
  margin-top: -3rem;
  margin-left: 5rem;
  position: absolute;

  &__list-item {
    list-style-type: none;
  }

  &__path {
    margin: 0.5rem;
    text-decoration: none;
    color: #07090f;
    font-family: "Playfair Display", serif;
  }
}

@include small-phones;