.navbar-links {
    display: flex;
    flex-direction: row;
    margin-top: -3rem;
    margin-left: 6rem;
    margin-bottom: 1.7rem;

        &__list-item {
            list-style-type: none;
            
        }

        &__path {
            margin: 0.5rem;
            text-decoration: none;
            color: #07090F;
            font-family: 'Playfair Display', serif;
        }

    
}