.forum {

    &__background {
        height: 100vh;
        width: 100vw;
        background-color: #B49082;
        overflow: hidden;
    }

    &__title {
        font-family: 'Lato', sans-serif;
        color: #07090F;
        font-size: 2.2em;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    &__horizontal-line {
        width: 85%;
        border-color: #07090F;
        margin: auto;
    }

    &__filter-buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

            &__filter-buttons {
                margin-right: 0.5rem;
                margin-top: 1rem;
                width: 100px;
                height: 30px;
                background-color: #A37C40;
                color: #E5E5E5;
                border: none;
                font-family: 'Lato', sans-serif;
            }
    }

    &__posts-container {

        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 1rem;

            &__left-container {
                display: flex;
                flex-direction: column;
                margin-left: 0.5rem;
                margin-right: 0.5rem;

                    &__votes-wrapper {
                        display: flex;
                        flex-direction: column;

                            &__title {
                                font-family: 'Playfair display', sans-serif;
                                font-size: 1.2em;
                                color: #E5E5E5;
                                margin-left: 0.3rem;
                            }
                            &__number {
                                font-family: 'Playfair display', sans-serif;
                                font-size: 2em;
                                color: #07090F;
                                margin-left: 1rem; 
                            }
                    }

                    &__response-wrapper {
                        display: flex;
                        flex-direction: column;

                            &__title {
                                font-family: 'Playfair display', sans-serif;
                                font-size: 1.2em;
                                color: #E5E5E5;
                            }
                            &__number {
                                font-family: 'Playfair display', sans-serif;
                                font-size: 2em;
                                color: #07090F;
                                margin-left: 1rem; 
                            }
                    }
            }

            &__right-container {
                display: flex;
                flex-direction: column;
                    &__title {
                        font-family: 'Playfair Display', serif;
                        color: #07090F;
                        margin-left: 1rem;
                        margin-bottom: 1rem;
                    }

                    &__content {
                        font-family: 'Playfair Display', serif;
                        color: #E5E5E5;
                        margin-left: 1rem;

                    }
            }
    }

    
}