@import "../../assets/scss/conf.scss";

.forum-topic {
@media only screen and (min-width: 320px) {
  &__background {
    @include avoid-border-and-align-columns; 
  }

  &__page-container {
    display: flex;
    flex-direction: column;
  }

  &__post-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 2em;

    &__post-title {
      font-family: "Playfair Display", serif;
      color: #07090f;
      font-size: 1.5em;
      margin-bottom: 1rem;
      text-align: center;
      margin-right: 1rem;
    }

    &__post-content {
      font-family: "Playfair Display", serif;
      color: #e5e5e5;
      margin-left: 1em;
    }

    &__post-author {
      margin-top: 10px;
      font-family: "Playfair Display", serif;
      color: #07090f;
      margin-left: 1em;

      &__name {
        font-style: italic;
      }
    }

    &__vote-button {
      margin-top: 1em;
      background-color: #a37c40;
      color: #e5e5e5;
      border: none;
      font-family: "Lato", sans-serif;
      border-radius: 2em;
      font-size: 1em;
      max-width: fit-content;
      float: left;
      margin-left: 1em;
    }
  }

  &__horizontal-line {
    width: 85%;
    border-color: #07090f;
    margin: auto;
  }

  &__comments-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;

    &__left-container {
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      &__votes-wrapper {
        display: flex;
        flex-direction: column;

        &__title {
          font-family: "Playfair display", sans-serif;
          font-size: 1em;
          color: #e5e5e5;
        }

        &__number {
          font-family: "Playfair display", sans-serif;
          font-size: 1.5em;
          color: #07090f;
          margin-left: 1rem;
        }
      }

      &__votes-wrapper-alt {
        display: none;
        flex-direction: column;
        animation: Slide_Side;

        &__title {
          font-family: "Playfair display", sans-serif;
          font-size: 1em;
          color: #e5e5e5;
        }

        &__number {
          font-family: "Playfair display", sans-serif;
          font-size: 1.5em;
          color: #07090f;
          margin-left: 1rem;
        }
      }

      &__response-wrapper {
        display: flex;
        flex-direction: column;

        &__title {
          font-family: "Playfair display", sans-serif;
          font-size: 1.2em;
          color: #e5e5e5;
        }

        &__number {
          font-family: "Playfair display", sans-serif;
          font-size: 2em;
          color: #07090f;
          margin-left: 1rem;
        }
      }
    }

    &__right-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: -1em;

      &__content {
        font-family: "Playfair Display", serif;
        color: #07090f;
        margin-left: 1em;
      }

      &__content-alt {
        display: none;
        font-family: "Playfair Display", serif;
        color: #07090f;
        width: 80%;
        margin-left: 3em;
        animation: Slide_Side 1s;
      }

      &__other-responses-button {
        margin-top: 1em;
        background-color: #a37c40;
        color: #e5e5e5;
        border: none;
        font-family: "Lato", sans-serif;
        border-radius: 2em;
        font-size: 1em;
      }

      &__other-responses-button-alt {
        display: none;
        margin-top: 1em;
        background-color: #a37c40;
        color: #e5e5e5;
        border: none;
        font-family: "Lato", sans-serif;
        border-radius: 2em;
        font-size: 1em;
        animation: Slide_Side 1s;
      }
    }

    &__right-container-alt {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: -1em;
      animation: Slide_Side;

      &__content {
        font-family: "Playfair Display", serif;
        color: #07090f;
        width: 80%;
      }

      &__other-responses-button {
        margin-top: 1em;
        background-color: #a37c40;
        color: #e5e5e5;
        border: none;
        font-family: "Lato", sans-serif;
        border-radius: 2em;
        font-size: 1em;
        margin-left: -3em;
      }
    }
  }

  &__show-comments {
    display: none;
  }
  
  &__show-comments-alt {
    animation: Slide_In;
    margin-left: 2em;
  }

  &__response-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__horizontal-line {
      width: 85%;
      border-color: #07090f;
      margin: auto;
    }

    &__content {
      font-family: "Playfair display", sans-serif;
      color: #07090f;
      background-color: #c4c4c4;
      border: none;
      margin-top: 1em;
      margin-left: 0em;
    }

    &__send-button {
      margin-top: 1em;
      background-color: #a37c40;
      color: #e5e5e5;
      border: none;
      font-family: "Lato", sans-serif;
      border-radius: 2em;
      font-size: 1em;
      padding: 1em;
    }
  }

  &__comments-wrapper {

    &__comment-username {
      font-family: "Playfair Display", serif;
      color: #07090f;
    }

    &__comment-content {
      font-family: "Lato", sans-serif;
      color: #07090f;
    }
  }

  &__return-button {
    display: none;
    margin-top: 1em;
    background-color: #a37c40;
    color: #e5e5e5;
    border: none;
    font-family: "Lato", sans-serif;
    border-radius: 2em;
    font-size: 1em;
    margin-left: -3em;
  }

  &__return-button-alt {
    margin-top: 1em;
    background-color: #a37c40;
    color: #e5e5e5;
    border: none;
    font-family: "Lato", sans-serif;
    border-radius: 2em;
    font-size: 1em;
  }

  &__submit-alert {
    display: none;
  }

  &__submit-alert-alt {
    z-index: 1;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: #a37c40;
    color: #e5e5e5;

  }

  &__error-alert {
    display: none;
  }

  &__error-alert-alt {
    z-index: 1;
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: #941f1f;
    color: #e5e5e5;
  }

}
}

@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      display:none;
  }
}

@include desktop-view;
@include hi-res-desktop-view;
@include small-phones;