@import "../../assets/scss/conf.scss";

.forum-post {
  @media only screen and (min-width: 320px) {
    &__background {
    @include avoid-border-and-align-columns; 
  }

  &__error-alert {
    display: none;
  }

  &__error-alert-alt {
    -moz-animation: showNotification 0s ease-in 5s forwards;
    -webkit-animation: showNotification 0s ease-in 5s forwards;
    -o-animation: showNotification 0s ease-in 5s forwards;
    animation: showNotification 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: #941f1f;
    color: #e5e5e5;
  }

  &__page-container {
    height: inherit;
    display: flex;
    flex-direction: column;

    &__page-header {
      font-family: "Playfair Display", serif;
      font-style: italic;
      color:$primary-text-color;
      font-size: 2.5em;
      position: relative;
      margin: 1rem;
      text-align: right;
    }
  
    &__introduction-paragraph {
      font-family: "Lato", sans-serif;
      color:$primary-text-color;
      font-size: 1em;
      margin: 1rem;
      text-align: right;
    }

    &__go-to-post-highlight {
      font-family: "Lato", sans-serif;
      color:$primary-text-color;
      font-size: 1em;
      margin: 1rem;
      text-align: right;
      text-decoration: underline;
    }
  
    &__form-container {
      display: flex;
      align-self: center;
  
      &__form {
        display: flex;
        flex-direction: column;
        align-content: center;

        &__post-label {
          margin-bottom: 5px;
          font-size: 1.5em;
          font-family: "Playfair Display", serif;
          color:$primary-text-color;
        }
    
        &__post-input {
          margin-bottom: 2em;
          border: none;
          background-color: $input-background;
          line-height: 3em;
        }

        &__post-textarea {
          margin-bottom: 2em;
          border: none;
          background-color: $input-background;
        }

        &__send-button {
          display: flex;
          align-self: center;
          justify-content: center;
          background-color: $secondary-background;
          color: $secondary-text-color;
          border: none;
          font-family: "Lato", sans-serif;
          border-radius: 2em;
          font-size: 2em;
          width: calc(#{$mobile-screen} / 5);
          padding: $gutter/2;
        }
        }
      }
    }
  }
}

@keyframes showNotification {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes showNotification {
  to {
      width:0;
      height:0;
      display:none;
  }
}

@include desktop-view;

@include hi-res-desktop-view;

@include small-phones;
