@import "../../assets/scss/conf.scss";

.homepage {
  @media only screen and (min-width: 320px) {
    &__background {
      height: 100vh;
      width: 100vw;
      background-color: $background;
      overflow: hidden;
    }

    &__image-asset {
      @include homepage-image;
      z-index: 1;
    }

    &__footer {
      display: none;
    }

    &__title {
      font-family: "Playfair Display", serif;
      font-style: italic;
      color: #07090f;
      font-size: 2.5em;
      position: relative;
      margin: 1rem;
      text-align: right;
      animation: Fade_In ease-in;
    }

    &__first-description {
      font-family: "Lato", sans-serif;
      color: #07090f;
      font-size: 1.2em;
      margin: 1rem;
      text-align: right;
      animation: Fade_In 2s ease-in;
    }

    &__second-description {
      font-family: "Lato", sans-serif;
      color: #07090f;
      font-size: 1.2em;
      margin: 1rem;
      text-align: right;
      animation: Fade_In 2s ease-in;
    }

    &__buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 1em;

      &__learn-more-button {
        background-color: #a37c40;
        color: #e5e5e5;
        border: none;
        font-family: "Lato", sans-serif;
        border-radius: 2em;
        font-size: 2em;
        width: calc(#{$mobile-screen} / 5);
        padding: $gutter/2;
        right: 0;
        animation: Slide_Up_And_Fade_In 2s;
      }
    }
  }
}

@include desktop-view;

@include hi-res-desktop-view;

@include small-phones;

@keyframes Slide_Up_And_Fade_In {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Fade_In {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
