@import "../../assets/scss/conf.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;

  &__button {
    background-color: #a37c40;
    margin-top: calc(#{$mobile-screen}/ 100);
    color: #e5e5e5;
    border: none;
    font-family: "Lato", sans-serif;
    border-radius: 2em;
    font-size: 2em;
    width: 9em;
    right: 0;
    animation: Fade_In 1s ease-in;
  }
}

@keyframes Fade_In {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}