@import "../../assets/scss/conf.scss";

.contact-us {
@media only screen and (min-width: 320px) {
  &__background {
    @include avoid-border-and-align-columns; 
  }

  &__title {
    font-family: "Playfair Display", serif;
    color: $primary-text-color;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__horizontal-line {
    width: 85%;
    border-color: $secondary-background;
    margin: auto;
  }

  &__page-description {
    font-family: "Lato", sans-serif;
    color: $primary-text-color;
    margin-bottom: 1em;
    margin-top: 1.2em;
    margin-left: 0.4em;
  }

  &__page-description-alt {
    font-family: "Lato", sans-serif;
    color: $primary-text-color;
    margin-bottom: 1em;
    margin-top: 1.2em;
    margin-left: 0.4em;
    animation: Slide_Up 1s;

  }

  &__form-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;

    

    &__label {
      color: $primary-text-color;
      font-weight: bold;
      float: left;
      margin-right: 15px;
      width: 100px;
      margin-bottom: 0.5em;
      font-size: 1.5em;
      font-family: "Playfair Display", serif;
      color:$primary-text-color;
    }

    &__input {
      padding: $gutter/2;
      background-color: $input-background;
      border: none;
      margin-bottom: 3em;
      height: 2em;
    }

    &__textarea {
      border: none;
      background-color: $input-background;
      width: 100%;
    }

    &__submit-button {
      background-color: $secondary-background;
      color: $secondary-text-color;
      border: none;
      font-family: "Lato", sans-serif;
      border-radius: 2em;
      font-size: 2em;
      width: calc(#{$mobile-screen} / 5);
      display: flex;
      justify-content: center;
      margin-top: 1em;
      margin-left: 2em;
    }
  }

  &__form-container-alt {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    animation: Slide_Up 1s;

    &__label {
      color: $primary-text-color;
      font-weight: bold;
      float: left;
      margin-right: 15px;
      width: 100px;
      margin-bottom: 0.5em;
      font-size: 1.5em;
      font-family: "Playfair Display", serif;
      color:$primary-text-color;
    }

    &__input {
      padding: $gutter/2;
      background-color: $input-background;
      border: none;
      margin-bottom: 3em;
      height: 2em;
    }

    &__textarea {
      border: none;
      background-color: $input-background;
      width: 100%;
    }

    &__submit-button {
      background-color: $secondary-background;
      color: $secondary-text-color;
      border: none;
      font-family: "Lato", sans-serif;
      border-radius: 2em;
      font-size: 2em;
      width: calc(#{$mobile-screen} / 5);
      display: flex;
      justify-content: center;
      margin-top: 1em;
      margin-left: 2em;
    }
  }
}
}

@keyframes Slide_Up {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-500px);
  }
}

@include desktop-view;
@include hi-res-desktop-view;
@include small-phones;